* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif !important;
  color: #777;
  overflow-x: hidden !important;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

span {
  color: #777 !important;
}

/* Classes JS */
.right {
  right: -300px !important;
}
.none {
  display: none !important;
}
.rotate {
  transform: rotate(180deg) !important;
}
/* Classes JS */

/* Start Header */
header {
  background-color: #fff;
  padding: 1rem 0;
}

header .container .nav-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .parent-link .flex .navbar .item .link,
header .parent-link .flex .navbar .item-one .menu,
header .parent-link .flex .navbar .item-two .menu {
  text-transform: capitalize;
}

header .parent-link .flex .navbar .item-one,
header .parent-link .flex .navbar .item-two {
  position: relative;
}

header .parent-link .flex .navbar .item-one .menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s; */
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1.5rem 1.25rem;
  margin-top: 0.5rem;
  left: -3rem;
  border-radius: 10px;
}

header .parent-link .flex .navbar .item-one .menu li,
header .parent-link .flex .navbar .item-two .menu li {
  padding: 0.5rem;
  font-size: 14px;
}

header .parent-link .flex .navbar .item-one .menu li .dropdown span,
header .parent-link .flex .navbar .item-two .menu li .dropdown span {
  transition: 0.3s !important;
}

header .parent-link .flex .navbar .item-one .menu li .dropdown span:hover,
header .parent-link .flex .navbar .item-two .menu li .dropdown span:hover {
  color: #000 !important;
}

header .parent-link .flex .navbar .item-two .menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem 1.25rem;
  margin-top: 0.5rem;
  left: 0.5rem;
  border-radius: 10px;
}

.menuFlex {
  display: none !important;
  max-height: 150px;
}

header .parent-link .flex .navbar .item {
  padding: 0 1rem;
  transition: 0.3s;
}

header .parent-link .flex .navbar .item a.link span:hover {
  color: #000 !important;
}

header .parent-link .flex .navbar .item a.link span.one span.rot,
header .parent-link .flex .navbar .item a.link span.two span.rot {
  display: inline-block;
  transition: 0.3s;
}

header .parent-link .flex .navbar .item a.link span .svg {
  font-size: 13px;
  font-weight: 600;
  transition: 0.3s;
}

form button {
  text-transform: capitalize;
  color: #777 !important;
  font-size: 15px !important;
  padding: 0.35rem 1rem !important;
  transition: 0.3s;
}

form button.active {
  border: 1px solid #777 !important;
  border-radius: 10px !important;
}

form button:focus {
  box-shadow: none !important;
}

form button:hover {
  color: #000 !important;
}

form button.active:hover {
  border: 1px solid #000 !important;
}
/* End Header */

/* Start Landing */
.landing {
  z-index: 1;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.landing .flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .flex .left h1 {
  color: #000;
  font-size: 75px;
  font-weight: 600 !important;
}

.landing .flex .left span {
  display: block;
  margin: 3rem 0;
  font-size: 16px;
  font-weight: 500;
}

.landing .flex .left a {
  background-color: #000;
  color: #eee;
  padding: 0.7rem 1.3rem;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.3S;
}

.landing .flex .left a:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.landing .flex .left .image {
  margin-top: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.landing .flex .left .image img {
  margin: 0 1rem;
}

.landing .flex .img-right {
  width: 100%;
  height: 540px;
  background-image: url(../images/image-hero-desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* End Landing */